/* * {
    font-family: "Roboto", "Arial", sans-serif;
    margin: 0px;
    padding: 0px;
} */

@font-face {
    font-family: Amatic;
    /* Гарнитура шрифта */
    src: url(../fonts/AmaticSC-Regular.ttf);
    /* Путь к файлу со шрифтом */
}

* {
    font-family: Amatic;
    margin: 0px;
    padding: 0px;
}

.info__block {
    margin: 0px auto;
    width: 90%;
}

.info__block table {
    margin: 0px auto;
}

.info__block table tr td img {
    height: 400px;
}

.info__block table tr td {
    max-width: 300px;
    overflow: hidden;
}

header {
    padding-right: 10%;
    height: 100px;
}

header nav {
    float: right;
    padding: 10px 5px;
    margin-right: 10px;
    cursor: pointer;
    font-size: 30px;
}

header nav:hover {
    font-weight: 900;
}

a {
    color: black;
    text-decoration: none;
}

footer {
    text-align: center;
    background-color: rgb(216, 216, 216);

}

.contact {
    padding: 10px;
    font-size: 20px;
}